doctype html
html
    head
        title Index Page
    body
        h1 div name
        h2= description
        hr
        - for(let i = 0; i < 10; i++) {
            p
                a(href="https://naver.com") Go to naver #{i}
        - }